@import url(https://fonts.googleapis.com/css?family=Lato:100,300);
body {
    background-color:#ffffff;
    font-size: 12px;
}
.NAVIGATION .CATE .button.text.categories span {
    background-image: url("../../img/keyakizaka46/UI_icon_menuArrow.png");
}
.button.with-icon.cart > span {
    background-image: url("../../img/keyakizaka46/UI_icon_cart.png");
}
.button.with-icon.signup > span {
    background-image: url("../../img/keyakizaka46/UI_icon_signup.png");
}
.button.with-icon.logout > span {
    background-image: url("../../img/keyakizaka46/UI_icon_logout.png");
}
.button.with-icon.mypage > span {
    background-image: url("../../img/keyakizaka46/UI_icon_account.png");
}
.button.with-icon.login span {
    background-image: url("../../img/keyakizaka46/UI_icon_login.png");
}
.faq-container .head {
    background-image: url("../../img/keyakizaka46/UI_icon_open.png");
}
.faq-container.active .head {
    background-image: url("../../img/keyakizaka46/UI_icon_close.png");
}
.button.with-icon span {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    font-size: 14px;
    padding: 8px 0 8px 23px;
}


.HEADER.PRE .NAVIGATION .CATE {
    display: none !important;
}
.HEADER.PRE {
    height: 150px;
}

.MAINTITLE {
    height: 100%;
    margin: 0 auto;
    max-width: 960px;
    min-width: 300px;
    overflow: hidden;
    padding: 0 10px;
}
.MAINTITLE .TITLE {
    float: left;
    width: 400px;
}
.BUYSCHEDULE {
    background-color: transparent;
    background-image: url("../../img/keyakizaka46/shoptitle_bg.png");
    background-position: center bottom;
    padding-top: 160px;
}

.HEADER {
    background-color: #fff;
    height: 190px;
    left: 0;
    padding-bottom: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.NAVIGATION .GLOBAL {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding: 0;
    position: absolute;
    z-index: 1;
}
.NAVIGATION .CATE {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.NAVIGATION .CATE .navigation ul li a {
    background-color: #fff;
    border-radius: 6px;
    color: #000;
}
.NAVIGATION .CATE .navigation ul li {
    margin-right: 10px;
}

.NAVIGATION .CATE a span {
    background-color: #fff;
    border: medium none !important;
    border-radius: 4px;
    color: #000;
    display: block;
    height: 35px;
    line-height: 35px;
    margin: 0 5px;
    text-align: center;
}
.NAVIGATION .GLOBAL .buttons a.button.own {
    background-image: url("../../img/keyakizaka46/UI_bg_own_button.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100px 100%;
    color: #fff;
    font-family: "Lato",sans-serif;
    height: 56px;
    text-align: center;
    width: 100px;
}



.NAVIGATION .GLOBAL .buttons a.button.own.regist{
    font-weight:bold;
}
.oac-cart,
.oac-menu {
    display:none;
}

.oac-cart {
    height: 40px;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 40px;
}
.oac-cart img {
    height: 100%;
    width: 100%;
}

.oac-menu {
    height: 40px;
    position: absolute;
    left: 10px;
    top: 15px;
    width: 40px;
}
.oac-menu img {
    height: 100%;
    width: 100%;
}
.MAINSLIDER {
    background-image: url("../../img/keyakizaka46/03/main_background.jpg");
    background-size: 100% auto;
    margin-bottom: 40px;
    padding: 20px 0 40px;
}
.flexslider {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: medium none;
    border-radius: 0;
    margin: 0 0 40px 0;
    /*overflow: hidden;*/
    width: 1000px;
    margin:0 auto;
}
.flex-direction-nav a::before {
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    font-family: "flexslider-icon";
    font-size: 40px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
    padding: 9px;
}
.flex-control-nav {
    bottom: -32px;
}
#TOP .flex-control-paging li a.flex-active {
    background: #a0d468 none repeat scroll 0 0;
}
.flex-direction-nav {
    height: 100px;
    position: absolute;
    top: 53%;
    width: 100%;
}

.navigation table {
    table-layout: fixed;
    width: 100%;
}
.CONTENTS {
    margin-top: 40px;
}
.CONTENTS .CONTAINER {
    border-radius: 10px;
    padding: 40px;
}
.CONTENTS .marsonry .box .text dl {
    background: rgba(0, 0, 0, 0)!important;
}
.CONTENTS .marsonry .box .text dt {
    color: #a0d468;
}
.CONTENTS .marsonry .box .text dd {
    color:#a5569d;
    font-weight: bold;
    margin-top: 0;
}


.box {
    width: 300px;
    height:400px;
    position:relative;
    opacity:0;
}
.box .inner {
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), 1px 0 0 #d0d0d0 inset, -1px 0 0 #d0d0d0 inset, 0 -1px 0 #d0d0d0 inset;
    height: 400px;
    width: 300px;
}
.box .thumbnail {
    height: 100%;
}
.box:hover .thumbnail{
    opacity: 0.8;
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1,1);
}
.icon_eyecatch {
    display: block;
    left: 5px;
    position: absolute;
    top: 20px;
    height: 30px;
    /*width: 70px;*/
    z-index: 9999;
}

.NAVIGATION .GLOBAL .buttons .button.rect {
    background-color: #000000;
}





.headline {
    background-color: #a0d468 !important;
    border: medium none;
    border-radius: 40px;
    color: #fff;
    font-family: "Lato",sans-serif;
    font-weight: 300;
    margin-bottom: 20px !important;
    position: relative;
    text-align: center;
}
.subheadline {
    color: #000000;
}
.buttons .button.rect.key {
    background: #a5569d none repeat scroll 0 0;
    border: 1px solid #a5569d;
}
.buttons .button.rect.key:hover {
    background: #bf6bbb none repeat scroll 0 0;
}
.product-texts .list .name {
    color: #000;
}
.FOOTER {
    background: #a0d468 none repeat scroll 0 0;
}
.FOOTER .navigation ul li a {
    font-family: 'Lato', sans-serif;
}
.FOOTER .WEBTITLE {
    background-image: url("../../img/keyakizaka46/UI_bg_footertitle.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 60px;
    color: #a0d468;
    display: block;
    font-size: 16px;
    height: 60px;
    line-height: 40px;
    margin: 0 auto 0 auto;
    width: 310px;
    top:1px;
}
.FOOTER .LINKS {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.FOOTER .CREDIT {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.INFORMATION {
}
.INFORMATION .SCHEDULE .head {
    background-color: #e50011;
}
.panel {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    box-shadow: 1px 2px 7px #e0e0e0;
    border-radius: 36px;
}
.panel .subheadline {
    background-color: #a0d468;
    border-radius: 40px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.NAVIGATION {
    bottom: auto;
    height: 190px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    color:#FFFFFF;
}
.NAVIGATION .GLOBAL .buttons a.button {
    float: none !important;
}
.NAVIGATION .GLOBAL .buttons {
    text-align: right;
}

body.PRE{
    background-color:#000000;
}
.PRE .HEADER{
    height:150px;
}
.PRE .FOOTER{
    background-color:yellow;
    color:#000;
}
.PRE .FOOTER .LINKS,
.PRE .FOOTER .CREDIT{
    color:#000000;
}
.PRE .oac-menu {
    left: auto;
    right: 10px;
}

.FREE-TEXT {
    background-color: #ffffff;
    border: 2px solid #9bcb67;
    border-radius: 6px;
    color: #8d8d8d;
    margin: 20px auto !important;
    padding: 20px;
    width: 885px;
}
.FREE-TEXT h3 {
    border-bottom: 1px solid;
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #9bcb67;
}
.FREE-TEXT.FOOT strong {
    border-bottom: 1px solid #505050;
    display: block;
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.NAVIGATION .CATE {
    background-color: #a0d468 !important;
}
.NAVIGATION .CATE a span {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    font-weight: bold;
}
.FREE-TEXT {
}


.NAVIGATION .CATE .CONTAINER {
    height: 37px;
    overflow: visible;
}
.FREE-TEXT.HEAD > img {
    width: 100%;
}
.FREE-TEXT.HEAD.BUNNER {
    border: medium none;
    padding: 0;
    width: 930px;
}
#TOP .SP {
    display: none;
    height: 50px;
}
.SP-ONLY {
    display: none;
}


@media screen and (max-width: 1024px) {
    .SP-ONLY {
        display: inline-block;
    }

    .NAVIGATION .GLOBAL .button.own.with-icon.login ,
    .NAVIGATION .GLOBAL .button.own.with-icon.cart ,
    .NAVIGATION .GLOBAL .button.own.with-icon.guide ,
    .NAVIGATION .GLOBAL .button.own.with-icon.inquiry {
        width: 87% !important;
    }

    .NAVIGATION .CATE .button.text.categories span {
        background-image: url("../../img/keyakizaka46/sp/UI_icon_menuArrow.png");
    }
    .CATE2 .button.with-icon.cart > span {
        /*background-image: url("../../img/keyakizaka46/sp/UI_icon_cart.png");*/
        background-image: none;
    }
    .button.with-icon.signup > span {
        background-image: url("../../img/keyakizaka46/sp/UI_icon_signup.png");
    }
    .button.with-icon.logout > span {
        background-image: url("../../img/keyakizaka46/sp/UI_icon_logout.png");
    }
    .button.with-icon.mypage > span {
        background-image: url("../../img/keyakizaka46/sp/UI_icon_account.png");
    }
    .CATE2 .button.with-icon.login span {
        /*background-image: url("../../img/keyakizaka46/sp/UI_icon_login.png");*/
        background-image: none;
    }
    .faq-container .head {
        background-image: url("../../img/keyakizaka46/sp/UI_icon_open.png");
    }
    .faq-container.active .head {
        background-image: url("../../img/keyakizaka46/sp/UI_icon_close.png");
    }
    .navigation ul li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
    .CONTENTS .CONTAINER {
        margin-top: 20px;
        min-width: auto;
        padding: 20px 0 !important;
    }
    .HEADER {
        height: 70px!important;
        position: fixed;
        width: 100%;
    }
    .MAINTITLE .TITLE {
        float: none;
        padding: 5px 0;
        top: 0;
        width: 220px;
    }
    .MAINTITLE {
        height: auto !important;
        top: 0;
        width: auto;
    }
    .oac-menu {
        display:block;
    }
    .oac-cart {
        display:block;
    }

    .navigation {
    }
    .MAINSLIDER {
        height: auto;
        margin-bottom: 40px;
        padding: 0;
    }
    .flex-direction-nav {
        height: 0px;
        top: auto;
        bottom: -29px;
    }
    .flex-direction-nav a::before {
        color: rgba(50, 50, 50, 0.8);
        font-size: 19px;
        padding: 4px;
    }
    .flex-direction-nav a {
        height: 25px;
    }
    .flex-direction-nav .flex-prev {
        left: 20%;
        opacity: 1;
    }
    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 20%;
    }
    .flexslider:hover .flex-direction-nav .flex-prev {
        opacity: 0.7;
        left: 20%;
    }
    .flexslider:hover .flex-direction-nav .flex-next {
        opacity: 0.7;
        right: 20%;
    }
    .headline {
        margin:0px 5px 30px 5px!important;
    }
    #TOP .SP {
        display: block;
    }
    .NAVIGATION2 {
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        display: block;
    }
    .NAVIGATION .CATE .navigation {
        background-color: rgba(0, 0, 0, 0);
        left: 0;
        position: relative;
        top: 0;
        display:block;
    }
    .NAVIGATION .CATE .CONTAINER {
        height: 40px;
        overflow: visible;
    }
    .NAVIGATION2 .CATE2 {
        /*        padding: 0;
                position: relative;*/
        float: left;
        padding: 5px 0;
        width: 100%;
        background-color: #a0d468;
        border-bottom: 1px solid #e0e0e0;
    }
    .NAVIGATION2 .CATE2 .CONTAINER2 {
        height: 40px;
        overflow: visible;
    }
    .CONTAINER2 {
        height: 100%;
        margin: 0 auto;
        max-width: 960px;
        min-width: 290px;
        overflow: hidden;
        padding: 0 10px;
    }
    .buttons {
        overflow: hidden;
        text-align: center;
    }
    .NAVIGATION2 .CATE2 .buttons, .NAVIGATION2 .CATE2 .navigation {
        float: left;
    }
    .NAVIGATION2 .CATE2 .buttons {
        height: 40px;
        line-height: 40px;
    }
    .NAVIGATION2 .CATE2 .button.text.categories {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 20px;
        color: #fff;
        display: block;
        height: 30px;
        line-height: 30px;
        top: 5px;
    }
    .NAVIGATION2 .CATE2 .button.text.categories span {
        background-image: url("../../img/keyakizaka46/sp/UI_icon_menuArrowWhite.png");
        background-position: 93% center;
        background-repeat: no-repeat;
        background-size: 10px auto;
        /*border-right: 1px solid;*/
        padding: 0 20px 0 10px;
    }
    .buttons.right {
        float: right !important;
    }
    .NAVIGATION2 .CATE2 .navigation {
        background-color: rgba(160, 212, 104, 0.7);
        color: #fff;
        display: none;
        left: 0;
        position: absolute;
        top: 40px;
        width: 100%;
        z-index: 10;
    }
    .navigation ul {
        letter-spacing: 0;
        overflow: hidden;
        text-align: left;
    }
    .navigation ul li {
        border-bottom: 1px solid;
        display: block;
        letter-spacing: 0;
    }
    .NAVIGATION2 .CATE2 .navigation ul li a {
        display: block;
        height: 44px;
        line-height: 44px;
    }
    .NAVIGATION2 .CATE2 a span {
        /*border-color: #e0e0e0 !important;*/
        border-color: rgba(255,255,255,0.3)  !important
    }
    .NAVIGATION2 .CATE2 .right a span {
        border-left: 1px solid;
        display: block;
        height: 40px;
        padding: 0 15px;
        color: #fff;
    }
    .NAVIGATION .CATE .navigation ul li {
        margin-right: 0px;
    }
    .UP .FREE-TEXT.HEAD {
        margin: 20px auto 60px !important;
    }

    .NAVIGATION .GLOBAL {
        border-bottom: 1px solid #5d5d5d;
        float: none;
        overflow: hidden;
        padding: 0;
        position: relative;
    }
    .NAVIGATION .GLOBAL .CONTAINER {
        margin: 0;
        padding: 0;
    }
    .NAVIGATION .CATE a span {
        border-left: medium none;
    }
    .NAVIGATION {
        background-color: rgba(0, 0, 0, 0.9);
        height: auto;
        position: absolute;
        top: 70px;
        display:none;
    }
    .NAVIGATION .GLOBAL .buttons a.button {
        background-color: rgba(255, 255, 255, 0.2);
        background-image: none !important;
        border-radius: 4px;
        color: #fff !important;
        height: 44px !important;
        line-height: 44px;
        margin: 10px 1%;
        padding: 0;
        width: 36% !important;
    }
    .navigation table td {
        display: block;
        margin: 5px;
    }
    /*.NAVIGATION .GLOBAL .buttons a.button:last-child {*/
    /*margin-top: 0;*/
    /*width: 75% !important;*/
    /*}*/
    .NAVIGATION .GLOBAL .buttons {
        text-align: center;
    }
    .flexslider {
        width: 100%;
    }
    .CONTENTS .marsonry {
        margin:10px  0px;
    }
    .CONTENTS {
        margin: 10px !important;
        padding-top: 40px !important;
    }
    .icon_eyecatch {
        /*width: 40px;*/
        height: 30px;
    }
    .FOOTER{
        margin:0;
    }
    .FOOTER .WEBTITLE {
        background-size: 270pxc 60px;
        width: 270px;
    }
    .FREE-TEXT {
        margin: 20px auto;
        width:auto;
    }
    .FREE-TEXT.HEAD.BUNNER {
        width: 100%;
    }
    .NAVIGATION .CATE {
        position: static;
    }
}


@media screen and (max-width: 736px) {
    .icon_eyecatch {
        /*width: 40px;*/
        height: 20px;
    }
}

/* ラベル */
.point-ribbon {
    z-index: 99999;
    position: absolute;
    background: #000000;
    font-size: 14px;
    /*color: #fff;*/
}
.point-ribbon:before {
    position: absolute;
    content: " ";
    height: 0;
    width: 0;
}
.point-ribbon:after {
    position: absolute;
    content: " ";
    height: 0;
    width: 0;
}
.point-ribbon-l {
    font-family: 'Luckiest Guy', cursive;
    top: .5em;
    left: -6px;
    height: 2em;
    line-height: 2.2;
    padding-left: 1em;
}
.point-ribbon-l:before {
    left: 0;
    top: 100%;
    border-top:6px solid #000000;
    border-left:6px solid transparent;
}
.point-ribbon-l:after {
    left: 100%;
    bottom: 0;
    border:1em solid #000000;
    border-right:0.5em solid transparent;
}
