/**共通設定**/
body{
    color: #606060;
    font-size:12px;
	background-color:#000000;
}
/**カテゴリー一覧の矢印画像**/
.NAVIGATION .CATE .button.text.categories span {
    background-image: url("../../img/gackt/UI_icon_menuArrow.png");
}
/**カートアイコン画像**/
.button.key.rect.with-icon.cart > span{
    background-image:url("../../img/gackt/UI_icon_cart.png");
}
/**ログアウトアイコン画像**/
.button.text.with-icon.logout > span{
    background-image:url("../../img/gackt/UI_icon_logout.png");
}
/**マイページアイコン画像**/
.button.text.with-icon.mypage > span{
    background-image:url("../../img/gackt/UI_icon_account.png");
}
/**ログインアイコン画像**/
.button.with-icon.login span {
    background-image: url("../../img/gackt/UI_icon_login.png");
}
/**FAQの開く画像**/
.faq-container .head {
    background-image: url("../../img/gackt/UI_icon_open.png");
}
/**FAQの閉じる画像**/
.faq-container.active .head{
    background-image: url("../../img/gackt/UI_icon_close.png");
}
.HEADER{
    background-image: url("../../img/gackt/header_bg_fire_1602.jpg");
    background-position: center bottom;
    background-size: auto 100%;
	background-repeat:no-repeat;
	background-size: 130% 500px;
}
.form-container select {
    margin: 0;
    height: 18px;
    display: block;
}
/**タイトル周り**/
.MAINTITLE {
}
.MAINTITLE .TITLE h2 {
    margin: 0 auto;
    width: 600px;
}
.MAINTITLE .TITLE p {
    background-color: rgba(255, 255, 255, 0.19);
    border-radius: 6px;
    color: #fff;
    font-size: 140%;
    margin: 20px auto;
    max-width: 900px;
    padding: 20px;
    text-align: center;
}
.MAINTITLE {
    height: auto !important;
}
.HEADER.MIN .MAINTITLE .TITLE h2 {
    padding: 8px;
    width: 220px;
}
.BUYSCHEDULE {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7c63a0+0,7c63a0+100&amp;0+0,1+54 */
    background-color:transparent;
    background-image: url("../../img/gackt/shoptitle_bg.png");
    background-position:bottom center;
}

/**ナビゲーション周り**/
.HEADER {
   padding-bottom: 110px;
    z-index: 99999;
}
.HEADER.MIN .MAINTITLE {
   padding: 46px;
}

.HEADER.MIN .main_visual {
   height: 65px;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 90px;
}
.HEADER.MIN .MAINTITLE .TITLE h2 {
    float: left;
    margin-left: 90px;
    padding: 8px;
    width: 220px;
}
.HEADER.MIN .MAINTITLE .TITLE p {
  font-size: 90%;
    margin: 5px;
    padding: 5px;
    position: absolute;
    right: 65px;
    text-align: right;
    top: -43px;
}

.HEADER.MIN .main_visual .visual {
    display: none;
}
.HEADER.MIN .main_visual .evelogo {
   left:10px;
    top: 12px;
    width: 255%;
}
.NAVIGATION .GLOBAL {
    background-color:#000000;
    color: #fff;
}
.NAVIGATION .CATE a span {
   border-left: 0.5px solid;
    height: 40px;
    padding: 6px 20px;
}
.SHOPSCHEDULE .title {
}
.SHOPTITLE .DESCRIPTION {
    color: #ffff00;
}
.main_visual h2 img {
    width: 736px;
}
.main_visual h2 {
  display: block;
    top: 137px;
}
.NAVIGATION {
 	background-image: url("../../img/gackt/line.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 2px;
}
.NAVIGATION .CATE {
    background-color:#1e1e1e;
	color:rgba(255,255,255,1.00);
}
.NAVIGATION .CATE .buttons .button span {
	border-left: 0.5px solid;
    padding-bottom: 6px;
    padding-top: 6px;
}
.navigation ul li:last-child a span {
    border-right: 0.5px solid;
}
.CATE .button.text.all {
    height: 40px;
    line-height: 40px;
}
.SPECIAL {
			padding: 18px 0px 0px;
			margin: 0 auto;
			max-width: 960px;
		}
.HEADER.MIN h2 {
  left: 10px;
    top: 56px;
}
.HEADER.MIN .main_visual img {
   width: 230px;
}
.main_visual > a {
    display: block;
}
.HEADER.MIN {
    background-image: none;
}
/**TOP商品**/
.CONTENTS .marsonry .box .text dl {
    background: #87744d none repeat scroll 0 0;
}
.CONTENTS .marsonry .box .text dl {
}
.HEADER.MIN .MAINTITLE .TITLE {
    float: left;
    padding: 0;
    top: 8px;
    width: 100%;
}
.HEADER.MIN .NAVIGATION {
    background-position: center 92px;
    background-size: 100% 1%;
    bottom: auto;
    padding-top: 94px;
    top: 0;
}
.main_visual {
  	height: 223px;
    margin: 47px auto 20px;
    position: relative;
    text-align: center;
    width: 940px;
}
.main_visual img.visual {
    position: absolute;
    right: 0;
    width: 178px;
}
.main_visual img.evelogo {
   left: 0;
    position: absolute;
    top: 0;
    width: 730px;
}
.MAINTITLE .TITLE {
    bottom: 0;
    margin: 0 auto;
    position: relative;
    width: 100%;
    z-index: 1;
	padding: 0 0 10px;
}

.box {
    opacity:0;
}
.box .inner {
    background-color: #fff;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    height: 400px;
    width: 300px;
}
.box .thumbnail {
    height: 100%;
	background-color: #f2f1ef;
}
.buy-list th {
    background-color: rgba(252,252,252,1.00);
	color:#000000;
}
/*.CONTENTS .marsonry .box .text dl {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}*/
.CONTENTS .marsonry .box:nth-child(2n+1) .text dl {
    background: #87744d none repeat scroll 0 0 !important;
}
.CONTENTS .marsonry .box:nth-child(2n) .text dl {
    background: #1e1e1e none repeat scroll 0 0 !important;
}
.CONTENTS .marsonry .box .text dd {
    font-weight: bold;
    margin-top: 0;
}
.box .text dl {
    padding: 5px;
}
.box .text dl dt {
    height: 40px;
}
/**見出し**/
.headline {
    border-bottom: 4px solid #b3944c;
    border-top: medium none;
    color: #b3944c;
}

.form-group input[type="tel"],.form-group input[type="email"],
.form-group input[type="text"], .form-group input[type="password"], .form-group textarea {
    color: #000;
}
/**小見出し**/
.subheadline {
    color: #b3944c;
}

/**キーボタンカラー**/
.buttons .button.rect.key {
    background: #b3944c none repeat scroll 0 0;
}

.buttons .button.rect.key:hover {
	background:#d6af63;   
}
/**ボタンサイズ 色**/
.button.size-L {
    width: 200px;
}
.button.rect {
    background: #2e2e2e none repeat scroll 0 0;
}
/**ボタンのクリア**/
input[type="button"],input[type="submit"] {
    border-radius: 0;
  }
   input[type="button"],input[type="submit"] {
    -webkit-appearance: none;
  }
/**商品タイトル**/
.product-texts .list .name {
    color: #ffffff;
}
.product-texts .freebox {
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 20px;
}
/**フッター**/
.FOOTER {
}
.FOOTER .LINKS {
    background-color:#1e1e1e;
    color: #ffffff;
	background-image: url("../../img/gackt/line.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.FOOTER .CREDIT {
    background-color: #262626;
    color: #ffffff;
}
/**下部お知らせ**/
.INFORMATION {
    background: #000000 none repeat scroll 0 0;
}
.INFORMATION .inner{
    background-color: #1e1e1e;
    border: medium none;
    color: #ffffff;
}
.INFORMATION .SCHEDULE .head {
    background-color: rgba(0,0,0,1.00);
}
/**パネル**/
.panel {
    border: 1px solid #dfdfdf;
}
.panel .subheadline {
    background-color:#1e1e1e;
    border-radius: 40px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.CONTENTS .CONTAINER {
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    padding: 20px;
}
.fixed-data tr .head {
    background-color: rgba(255,255,255,1.00);
	color:#000000;
}
.faq-container {
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #000;
    margin-bottom: 10px;
    padding: 20px;
}
/**カート**/
.cart-list table > thead {
    background-color: #ffffff !important;
    color: #000000;
}
@media screen and (max-width: 1024px) {
    .main_visual img.evelogo {
     left: 0;
    position: absolute;
    top: 5px;
    width: 238px;
    }
    .MAINTITLE .TITLE h2 {
        width: 290px;
    }
    .main_visual {
    height: 84px;
    margin: 16px auto;
    width: 310px;
    }

    .MAINTITLE .TITLE p {
        background-color: rgba(255, 255, 255, 0.19);
        border-radius: 6px;
        font-size: 90%;
        margin: 10px;
        padding: 10px;
		color: #fff;
    }

    /**カテゴリー一覧の矢印画像**/
    .NAVIGATION .CATE .button.text.categories span {
        background-image: url("../../img/gackt/sp/UI_icon_menuArrow.png");
    }
    /**カートアイコン画像**/
    .button.key.rect.with-icon.cart > span{
        background-image:url("../../img/gackt/sp/UI_icon_cart.png");
    }
    /**ログアウトアイコン画像**/
    .button.text.with-icon.logout > span{
        background-image:url("../../img/gackt/sp/UI_icon_logout.png");
    }
    /**マイページアイコン画像**/
    .button.text.with-icon.mypage > span{
        background-image:url("../../img/gackt/sp/UI_icon_account.png");
    }
    /**ログインアイコン画像**/
    .button.with-icon.login span {
        background-image: url("../../img/gackt/sp/UI_icon_login.png");
    }
    /**FAQの開く画像**/
    .faq-container .head {
        background-image: url("../../img/gackt/sp/UI_icon_open.png");
    }
    /**FAQの閉じる画像**/
    .faq-container.active .head{
        background-image: url("../../img/gackt/sp/UI_icon_close.png");
    }

    .HEADER.MIN .MAINTITLE .TITLE p {
        display: none;
    }
	.main_visual img.visual {
    width: 66px;
}
.main_visual h2 {
    top: 55px;
}
.main_visual h2 img {
    width: 238px;
}
.navigation ul li:last-child a span {
    border: medium none;
}
.FOOTER .LINKS {
    background-image: none;
}
.NAVIGATION {
    background-size: 100% 4%;
}
.HEADER {
    background-size: 140% 240px;
    padding-bottom: 110px;
}
.SPECIAL {
				padding: 18px 20px 0px;
}
}
