@import url(https://fonts.googleapis.com/css?family=Candal);
body {
	font-size: 12px;
	line-height: 1.5;
	font-family: '游ゴシック体', 'Yu Gothic', 'メイリオ', 'Hiragino Kaku Gothic Pro', 'sans-serif';
}
.HEADER {
	top: 0px;
	height: 190px;
	position: relative;
	padding: 0;
	width: 100%;
}
.HEADER .MAINTITLE a img{
	width: 25%;
	max-width: 300px;
	margin: 16px auto 0;
	padding: 16px;
}
.CONTENTS {
	margin: 0;
}
.CONTENTS .CONTAINER {
	margin-top: 16px;
	padding: 0;
	width: 100%;
	border-radius: 0;
}
.NAVIGATION {
	bottom: 0;
	height: 190px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.NAVIGATION .GLOBAL {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	padding: 0;
	z-index: 1;
}
.NAVIGATION .GLOBAL .buttons {
	float: right;
}
.NAVIGATION .GLOBAL .buttons a.button {
	display: block;
	float: none !important;
	margin: 0;
}
.NAVIGATION .GLOBAL .buttons a.button span {
}
.NAVIGATION .GLOBAL .buttons a.button.own {
	color: #000000;
	font-family: "Candal", sans-serif;
	height: 18px;
	font-size: 15px;
	text-align: right;
	padding-bottom:8px;
	width: 130px;
}
.NAVIGATION .GLOBAL .buttons a.button.own.regist {
	font-weight: bold;
}
.NAVIGATION .CATE {
	background: none!important;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}
.NAVIGATION .CATE .CONTAINER {
	border-top: solid 4px #000000;
	border-bottom: solid 1px #000000;
	padding: 12px 0 0;
	font-weight: 900;
	height:28px;
}
.flexslider {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	border-radius: 0;
	overflow: hidden;
	width: 100%;
	max-width: 1000px;
	margin: 0px auto;
}
.navigation table {
	table-layout: fixed;
	width: 80%;
	margin: 0 auto;
}
.NAVIGATION .CATE a span {
	box-sizing:border-box;
	background-color: #fff;
	border-left:solid 1px rgba(0,0,0,0.68);
	color: #000;
	display: block;
	height: 14px;
	line-height: 14px;
	margin: 0;
	text-align: center;
	padding:0 0 0 2px;
}
.NAVIGATION .CATE .CONTAINER .navigation table tbody tr td:last-child{
	border-right:solid 1px rgba(0,0,0,0.68);
	}
.oac-cart, .oac-menu {
	display: none;
}
.oac-cart {
	height: 40px;
	position: absolute;
	right: 10px;
	top: 15px;
	width: 40px;
}
.oac-cart img {
	height: 100%;
	width: 100%;
}
.oac-menu {
	background-color: #3a3a3a;
	border-radius: 4px;
	height: 40px;
	left: 8px;
	position: absolute;
	top: 16px;
	width: 40px;
}
.oac-menu img {
	height: auto;
	margin: 10px;
	width: 20px;
}
.FREE-TEXT.FOOT {
	padding: 16px
}
.FREE-TEXT.HEAD.BUNNER {
	border: 1px solid #3f3f3f;
	border-radius: 1px;
	height: 100%;
	margin: 0 2%;
	overflow: hidden;
	padding: 2.5%;
}
.box:hover .thumbnail{
    opacity: 0.44;
    -webkit-transform: scale(1,1);
       -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
         -o-transform: scale(1,1);
            transform: scale(1,1);
}
.outer {
	height: 100%;
	margin: 0 3%;
	overflow: hidden;
	padding: 0;
}
.outer dl{
	padding:8px!important;
	
}
.outer dt {
	color: rgba(0,0,0,0.97);
	text-shadow: 0px 0px 5px rgba(242,241,239,1);
	font-weight: 900;
	line-height:16px!important;
}
.outer dd {
	color: rgba(0,0,0,0.97);
	text-shadow: 0px 0px 5px rgba(242,241,239,1);
	margin-top:0px!important;
	font-size:16px!important;
	line-height:18px!important;
}
.outer .box .inner{
background: linear-gradient(to bottom, rgba(242,241,239,1), rgba(242,241,239,1) 86%, rgba(0,0,0,0.33))!important;
}
.FREE-TEXT.HEAD {
	background-color: #ffffff;
	border: 1px solid #3f3f3f;
	border-radius: 1px;
	height: 100%;
	margin: 16px 0;
	overflow: hidden;
	padding: 3.5% 4.5%;
	font-size: 12px;
}
.headline {
	margin: 80px 8px 40px;
}
.FOOTER{
	margin-top:24px;
}
.FOOTER .WEBTITLE{
	width: 25%;
	max-width: 300px;
	margin: 16px auto 0;
	padding: 16px;
}
.FOOTER .WEBTITLE a img{
	width:100%;
}
.FOOTER .WEBTITLE p{
	font-family: "Candal", sans-serif;
	font-size: 26px;
	margin:24px 0;
}
.FOOTER .LINKS {
	background-color: #000000;
}
.FOOTER .CREDIT {
	background-color: #000000;
}

@media screen and (max-width: 1024px) {
.HEADER {
	min-width:260px;
	background-color:#ffffff;
	top: 0px;
	height: 76px;
	position: fixed;
	width: 100%;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.HEADER .MAINTITLE .TITLE {
	width: 80%;
	margin: 0 auto;
}
.HEADER .MAINTITLE a img{
	width: 152px;
	margin: 0 auto;
	padding: 16px 0 0 8px;
}
.CONTENTS {
	margin: 0 8px;
}
.CONTENTS .CONTAINER {
	min-width:260px;
	width: 100%;
	margin: 92px 0 0;
	padding: 0px;
}
.oac-cart,  .oac-menu {
	display: block;
}
.NAVIGATION .GLOBAL{
	background-color: rgba(0, 0, 0, 0.67)!important;
}	
.NAVIGATION .GLOBAL .buttons a.button span {
	padding:0;
}
.NAVIGATION .GLOBAL .buttons {
	float: none!important;
}
.NAVIGATION .GLOBAL .buttons a {
	display:inline-block!important;
}
.NAVIGATION .GLOBAL .buttons a:nth-child(1){
	background-color:#ffffff;
	border-radius: 5px;
	text-align:center!important;
	float: left!important;
	width:34%!important;
	height:48px!important;
	padding: 8px 0 0!important;
	margin:8px 0 0 15%!important;
	font-size:14px!important;
}
.NAVIGATION .GLOBAL .buttons a:nth-child(2){
	background-color:#ffffff;
	border-radius: 5px;
	text-align:center!important;
	float: right!important;
	width:34%!important;
	height:48px!important;
	padding: 8px 0 0 0!important;
	margin: 8px 15% 0 0!important;
}
.NAVIGATION .GLOBAL .buttons a:nth-child(3){
	float:none!important;
	background-color:#ffffff;
	border-radius: 5px;
	text-align:center!important;
	width:34%!important;
	height:48px!important;
	padding: 8px 0 0 0!important;
	margin: 8px auto 8px!important;
}
.NAVIGATION .GLOBAL .buttons a.button.own {
	color: #000000;
	font-family: "Candal", sans-serif;
}
.NAVIGATION .GLOBAL .buttons a.button.own.regist {
	font-weight: bold;
}

.NAVIGATION {
	height: auto;
	position: absolute;
	top: 76px;
	display: none;
}
.NAVIGATION .CATE {
	background-color: rgba(0, 0, 0, 0.67)!important;
	padding: 0 0 16px 0;
	position: relative;
}
.NAVIGATION .CATE .CONTAINER {
	border: none;
	max-width:98%;
	height: auto;
	margin: 0 1%;
	overflow: hidden;
	padding: 0;
}
.NAVIGATION .CATE .navigation {
	background-color: rgba(0, 0, 0, 0);
	left: 0;
	position: relative;
	top: 0;
	display: block;
}
.NAVIGATION .CATE .navigation td{
	display: block;
	margin:0px 8px 8px;
}
.NAVIGATION .CATE a span {
	width:100%;
	background-color: #fff;
	color: #000;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	text-align: center;
}
.navigation table {
	table-layout: fixed;
	width: 100%;
	margin: 0 auto;
}
.FREE-TEXT.HEAD.BUNNER {
	border: 1px solid #3f3f3f;
	border-radius: 1px;
	height: 100%;
	margin: 0px;
	overflow: hidden;
	padding: 2.5%;
}
.FREE-TEXT.HEAD {
	background-color: #ffffff;
	border: 1px solid #3f3f3f;
	border-radius: 1px;
	height: 100%;
	margin: 20px 0px;
	overflow: hidden;
	padding: 24px;
	font-size: 10px;
}
.outer {
	height: 100%;
	margin: 0px;
	overflow: hidden;
	padding: 0;
}
.outer .marsonry{
	margin: 0px;
}
.FOOTER{
	margin-top:8px;
}
.FOOTER .WEBTITLE{
	width: 152px;
	margin: 0 auto;
	padding: 16px 0 0;
}
.FOOTER .WEBTITLE a img{
	width:100%;
}
.FOOTER .WEBTITLE p{
	font-family: "Candal", sans-serif;
	font-size: 16px;
	margin:16px 0 24px;
}
.FOOTER .LINKS {
	padding:0px 5px;
	background-color: #000000;
}
}
