/**共通設定**/
body{
	color: #000;
	font-size:12px;
}
/**カテゴリー一覧の矢印画像**/
.NAVIGATION .CATE .button.text.categories span {
    background-image: url("../../img/nagabuchi/UI_icon_menuArrow.png");
}
/**カートアイコン画像**/
.button.key.rect.with-icon.cart > span{
    background-image:url("../../img/nagabuchi/UI_icon_cart.png")
}
/**ログアウトアイコン画像**/
.button.text.with-icon.logout > span{
    background-image:url("../../img/nagabuchi/UI_icon_logout.png")
}
/**マイページアイコン画像**/
.button.text.with-icon.mypage > span{
    background-image:url("../../img/nagabuchi/UI_icon_account.png")
}
/**ログインアイコン画像**/
.button.with-icon.login span {
    background-image: url("../../img/nagabuchi/UI_icon_login.png");
}
/**FAQの開く画像**/
.faq-container .head {
    background-image: url("../../img/nagabuchi/UI_icon_open.png");
}
/**FAQの閉じる画像**/
.faq-container.active .head{
    background-image: url("../../img/nagabuchi/UI_icon_close.png");
}


body {
    background-color:	#FFFFFF;
}
.MAINTITLE {
	height: 440px;
	background-image: url("../../img/nagabuchi/header_bg.jpg");
	background-position: top;
}
.MAINTITLE .TITLE {
    top: 180px;
    width: 630px;
}
.BUYSCHEDULE {
    background-color: transparent;
    background-image: url("../../img/nagabuchi/shoptitle_bg.png");
    background-position: center bottom;
    padding-top: 160px;
}

.HEADER {
    padding-bottom: 60px;
    z-index: 99999;
}
.NAVIGATION .GLOBAL {
    background-color: #e50011;
	color: #FFFFFF;
}
.NAVIGATION .CATE {
    background-color: #f2f3f9;
    border-bottom: 1px solid #e0e0e0;
}
.NAVIGATION .CATE a span {
    border-color: #e0e0e0 !important;
}
.NAVIGATION .CATE a span {
    border-left: 1px solid;
    display: block;
    height: 40px;
    padding: 0 20px;
}


.CONTENTS {
    background-color:	#FFFFFF;
}
.CONTENTS .marsonry .box .text dl {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 100%) repeat scroll 0 0;
}

.CONTENTS .marsonry .box .text dl  {
background: -moz-linear-gradient(top,  rgba(229,0,17,0) 0%, rgba(229,0,17,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,0,17,0)), color-stop(100%,rgba(229,0,17,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(229,0,17,0) 0%,rgba(229,0,17,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(229,0,17,0) 0%,rgba(229,0,17,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(229,0,17,0) 0%,rgba(229,0,17,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(229,0,17,0) 0%,rgba(229,0,17,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e50011', endColorstr='#a6e50011',GradientType=0 ); /* IE6-9 */
}
.NAVIGATION .GLOBAL .buttons .button.rect {
    background-color:	#000000;
}
/**見出し**/
.headline {
    background-color: #000;
    border-bottom: 4px solid #e50011;
    border-radius: 4px 4px 0 0;
    border-top: medium none;
    color: #fff;
    text-indent: 15px;
}

/**小見出し**/
.subheadline {
	color:#c50000;
}

/**キーボタンカラー**/
.buttons .button.rect.key {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4545+0,141414+100 */

background: rgb(76,69,69); /* Old browsers */

background: -moz-linear-gradient(top,  rgba(76,69,69,1) 0%, rgba(20,20,20,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,69,69,1)), color-stop(100%,rgba(20,20,20,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(76,69,69,1) 0%,rgba(20,20,20,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(76,69,69,1) 0%,rgba(20,20,20,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(76,69,69,1) 0%,rgba(20,20,20,1) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(76,69,69,1) 0%,rgba(20,20,20,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4545', endColorstr='#141414',GradientType=0 ); /* IE6-9 */


border:#000000 1px solid;
}

.buttons .button.rect.key:hover{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+94,565656+100 */

background: rgb(51,51,51); /* Old browsers */

background: -moz-linear-gradient(top,  rgba(51,51,51,1) 94%, rgba(86,86,86,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(94%,rgba(51,51,51,1)), color-stop(100%,rgba(86,86,86,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 94%,rgba(86,86,86,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(51,51,51,1) 94%,rgba(86,86,86,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(51,51,51,1) 94%,rgba(86,86,86,1) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(51,51,51,1) 94%,rgba(86,86,86,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#565656',GradientType=0 ); /* IE6-9 */

}

/**商品タイトル**/
.product-texts .list .name {
    color: #c50000;
}

.FOOTER {
    background: rgb(160,115,176); /* Old browsers */
background: -moz-linear-gradient(top, rgba(160,115,176,1) 0%, rgba(88,96,168,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160,115,176,1)), color-stop(100%,rgba(88,96,168,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(160,115,176,1) 0%,rgba(88,96,168,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(160,115,176,1) 0%,rgba(88,96,168,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(160,115,176,1) 0%,rgba(88,96,168,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(160,115,176,1) 0%,rgba(88,96,168,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a073b0', endColorstr='#5860a8',GradientType=0 ); /* IE6-9 */
copy
}
.FOOTER .LINKS {
    background:	#000000;
}
.FOOTER .CREDIT {
	background:#e50011;
	color: #ffffff;
}
/**下部お知らせ**/
.INFORMATION {
}
.INFORMATION .SCHEDULE .head {
    background-color: #e50011;
}
/**パネル**/
.panel {
    border: 1px solid #dfdfdf;
    box-shadow: 1px 2px 7px #e0e0e0;
}
.panel .subheadline {
    background-color: #000;
    border-radius: 40px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    margin-bottom: 40px;
    text-align: center;
}



@media screen and (max-width: 728px) {
/**ヘッダーの画像**/
/**.NAVIGATION .GLOBAL .CONTAINER {
    background-image: url("../../img/nagabuchi/sp/header_bg.png");
}
/**カテゴリー一覧の矢印画像**/
.NAVIGATION .CATE .button.text.categories span {
    background-image: url("../../img/nagabuchi/sp/UI_icon_menuArrow.png");
}
/**カートアイコン画像**/
.button.key.rect.with-icon.cart > span{
    background-image:url("../../img/nagabuchi/sp/UI_icon_cart.png")
}
/**ログアウトアイコン画像**/
.button.text.with-icon.logout > span{
    background-image:url("../../img/nagabuchi/sp/UI_icon_logout.png")
}
/**マイページアイコン画像**/
.button.text.with-icon.mypage > span{
    background-image:url("../../img/nagabuchi/sp/UI_icon_account.png")
}
/**ログインアイコン画像**/
.button.with-icon.login span {
    background-image: url("../../img/nagabuchi/sp/UI_icon_login.png");
}
/**FAQの開く画像**/
.faq-container .head {
    background-image: url("../../img/nagabuchi/sp/UI_icon_open.png");
}
/**FAQの閉じる画像**/
.faq-container.active .head{
    background-image: url("../../img/nagabuchi/sp/UI_icon_close.png");
}

.navigation ul li {
    border-bottom: 1px solid 	#5D5D5D;
}

.MAINTITLE .TITLE {
    max-width: 400px;
    top: 65px;
    width: 100%;
}
.MAINTITLE {
    height: 170px !important;
}

}