
body {
    background-color:#000000;
    font-size: 12px;
}
.NAVIGATION .CATE .button.text.categories span {
    background-image: url("../../img/ripslyme/UI_icon_menuArrow.png");
}
.button.with-icon.cart > span {
    background-image: url("../../img/ripslyme/UI_icon_cart.png");
}
.button.with-icon.signup > span {
    background-image: url("../../img/ripslyme/UI_icon_signup.png");
}
.button.with-icon.logout > span {
    background-image: url("../../img/ripslyme/UI_icon_logout.png");
}
.button.with-icon.mypage > span {
    background-image: url("../../img/ripslyme/UI_icon_account.png");
}
.button.with-icon.login span {
    background-image: url("../../img/ripslyme/UI_icon_login.png");
}
.faq-container .head {
    background-image: url("../../img/ripslyme/UI_icon_open.png");
}
.faq-container.active .head {
    background-image: url("../../img/ripslyme/UI_icon_close.png");
}
.button.with-icon span {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    font-size: 14px;
    padding: 8px 0 3px 23px;
}


.HEADER.PRE .NAVIGATION .CATE {
    display: none !important;
}
.HEADER.PRE {
    height: 150px;
}

.MAINTITLE {
    height: 100%;
    margin: 0 auto;
    max-width: 960px;
    min-width: 300px;
    overflow: hidden;
    padding: 0 10px;
}
.MAINTITLE .TITLE {
    float: left;
    width: 400px;
}
.BUYSCHEDULE {
    background-color: transparent;
    background-image: url("../../img/ripslyme/shoptitle_bg.png");
    background-position: center bottom;
    padding-top: 160px;
}

.HEADER {
    height: 200px;
    left: 0;
    padding-bottom: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
    background-color: #000;
}
.NAVIGATION .GLOBAL {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding: 0;
    position: absolute;
    z-index: 1;
}
.NAVIGATION .CATE {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.NAVIGATION .CATE .navigation ul li a {
    background-color: #fff;
    border-radius: 6px;
    color: #000;
}
.NAVIGATION .CATE .navigation ul li {
    margin-right: 10px;
}

.NAVIGATION .CATE a span {
    background-color: #fff;
    border: medium none !important;
    border-radius: 4px;
    color: #000;
    display: block;
    font-family: "Luckiest Guy",cursive;
    height: 35px;
    line-height: 35px;
    margin: 0 5px;
    text-align: center;
}
.NAVIGATION .GLOBAL .buttons a.button.own {
    background-image: url("../../img/ripslyme/UI_bg_own_button.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100px 60px;
    height: 60px;
    text-align: center;
    width: 100px;
    font-family: 'Luckiest Guy', cursive;
    color: #000;
}



.NAVIGATION .GLOBAL .buttons a.button.own.regist{
    font-weight:bold;
}
.oac-cart,
.oac-menu {
    display:none;
}

.oac-cart {
    height: 40px;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 40px;
}
.oac-cart img {
    height: 100%;
    width: 100%;
}

.oac-menu {
    height: 40px;
    position: absolute;
    left: 10px;
    top: 15px;
    width: 40px;
}
.oac-menu img {
    height: 100%;
    width: 100%;
}
.MAINSLIDER {
    background-color: #000000;
    background-image: url("../../img/ripslyme/main_bg.jpg");
    background-repeat: repeat-x;
    background-size: auto 100%;
    height: 220px;
    margin-bottom: 40px;
    padding: 20px 0;
}
.flexslider {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: medium none;
    border-radius: 0;
    margin: 0 0 40px 0;
    overflow: hidden;
    width: 1000px;
    margin:0 auto;
}
.navigation table {
    table-layout: fixed;
    width: 100%;
}
.CONTENTS {
    margin-top: 40px;
}
.CONTENTS .CONTAINER {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
}
.CONTENTS .marsonry .box .text dl {
    background: rgba(0, 0, 0, 0)!important;
}
.CONTENTS .marsonry .box .text dt {
    color: #000;
}
.CONTENTS .marsonry .box .text dd {
    color: #000;
    margin-top:0px;
    font-weight:bold;
}

.headline {
    font-family: 'Luckiest Guy', cursive;
}
.box {
    width: 300px;
    height:400px;
    position:relative;
}
.box .inner {
    background-color: #fff;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    height:400px;
}
.box .thumbnail {
    height: 100%;
    margin: 5px;
}

.icon_eyecatch {
    display: block;
    left: 5px;
    position: absolute;
    top: 20px;
    height: 30px;
    /*width: 70px;*/
    z-index: 9999;
}

.NAVIGATION .GLOBAL .buttons .button.rect {
    background-color: #000000;
}
.headline::before {
    background-color: #000000;
    border-radius: 8px;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    width: 100%;
}
.headline::after {
    background-color: #000000;
    border-radius: 8px;
    bottom: -8px;
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    width: 50%;
}





.headline {
    border-radius: 0;
    border: medium none;
    color: #000;
    position: relative;
    margin-bottom:30px;
}
.subheadline {
    color: #000000;
}
.buttons .button.rect.key {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(76, 69, 69, 1) 0%, rgba(20, 20, 20, 1) 100%) repeat scroll 0 0;
    border: 1px solid #000000;
}
.buttons .button.rect.key:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(51, 51, 51, 1) 94%, rgba(86, 86, 86, 1) 100%) repeat scroll 0 0;
}
.product-texts .list .name {
    color: #000;
}
.FOOTER {
    background: #000 none repeat scroll 0 0;
    border-top: 3px solid #fff;
}
.FOOTER .navigation ul li a {
    font-family: 'Luckiest Guy', cursive;
}
.FOOTER .WEBTITLE {
    background-image: url("../../img/ripslyme/UI_bg_footertitle.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 500px 60px;
    color: #000;
    display: block;
    font-family: "Luckiest Guy",cursive;
    font-size: 20px;
    height: 60px;
    line-height: 40px;
    margin: 0 auto;
    width: 500px;
}
.FOOTER .LINKS {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.FOOTER .CREDIT {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.INFORMATION {
}
.INFORMATION .SCHEDULE .head {
    background-color: #e50011;
}
.panel {
    border: 1px solid #dfdfdf;
    box-shadow: 1px 2px 7px #e0e0e0;
}
.panel .subheadline {
    background-color: #000;
    border-radius: 40px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.NAVIGATION {
    bottom: auto;
    height: 190px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    color:#FFFFFF;
}
.NAVIGATION .GLOBAL .buttons a.button {
    float: none !important;
}
.NAVIGATION .GLOBAL .buttons {
    text-align: right;
}

body.PRE{
    background-color:#000000;
}
.PRE .HEADER{
    height:150px;
}
.PRE .FOOTER{
    background-color:yellow;
    color:#000;
}
.PRE .FOOTER .LINKS,
.PRE .FOOTER .CREDIT{
    color:#000000;
}
.PRE .oac-menu {
    left: auto;
    right: 10px;
}
.FREE-TEXT {
    background-color: #303030;
    border: 1px solid #5f5f5f;
    border-radius: 6px;
    color: #fff;
    margin: 20px auto!important;
    padding: 20px;
    width: 600px;
}
.FREE-TEXT.FOOT strong {
    border-bottom: 1px solid #505050;
    display: block;
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
@media screen and (max-width: 1024px) {
    .NAVIGATION .CATE .button.text.categories span {
        background-image: url("../../img/ripslyme/sp/UI_icon_menuArrow.png");
    }
    .button.with-icon.cart > span {
        background-image: url("../../img/ripslyme/sp/UI_icon_cart.png");
    }
    .button.with-icon.signup > span {
        background-image: url("../../img/ripslyme/sp/UI_icon_signup.png");
    }
    .button.with-icon.logout > span {
        background-image: url("../../img/ripslyme/sp/UI_icon_logout.png");
    }
    .button.with-icon.mypage > span {
        background-image: url("../../img/ripslyme/sp/UI_icon_account.png");
    }
    .button.with-icon.login span {
        background-image: url("../../img/ripslyme/sp/UI_icon_login.png");
    }
    .faq-container .head {
        background-image: url("../../img/ripslyme/sp/UI_icon_open.png");
    }
    .faq-container.active .head {
        background-image: url("../../img/ripslyme/sp/UI_icon_close.png");
    }
    .navigation ul li {
        border-bottom: 1px solid #5d5d5d;
    }
    .CONTENTS .CONTAINER {
        min-width: auto;
        padding: 20px 10px !important;
        margin-top: 10px;
    }
    .HEADER {
        height: 70px!important;
        position: fixed;
        width: 100%;
    }
    .MAINTITLE .TITLE {
        float: none;
        padding: 12px 0;
        top: 0;
        width: 180px;
    }
    .MAINTITLE {
        height: auto !important;
        top: 0;
        width: auto;
    }
    .oac-cart,
    .oac-menu {
        display:block;
    }

    .navigation {
    }
    .MAINSLIDER {
        height: auto;
        margin-bottom: 20px;
    }
    .headline {
        margin:0px 5px 30px 5px!important;
    }
    .NAVIGATION .CATE .navigation {
        background-color: rgba(0, 0, 0, 0);
        left: 0;
        position: relative;
        top: 0;
        display:block;
    }
    .NAVIGATION .CATE .CONTAINER {
        height: auto;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }
    .NAVIGATION .CATE {
        padding: 0;
        position: relative;
    }
    .NAVIGATION .CATE .navigation ul li a {
        background:none;
        border-radius: 0;
    }
    .NAVIGATION .CATE .navigation ul li {
        margin-right: 0px;
    }

    .NAVIGATION .GLOBAL {
        border-bottom: 1px solid #5d5d5d;
        float: none;
        overflow: hidden;
        padding: 0;
        position: relative;
    }
    .NAVIGATION .GLOBAL .CONTAINER {
        margin: 0;
        padding: 0;
    }
    .NAVIGATION .CATE a span {
        border-left: medium none;
    }
    .NAVIGATION {
        background-color: rgba(0, 0, 0, 0.9);
        height: auto;
        position: absolute;
        top: 70px;
        display:none;
    }
    .NAVIGATION .GLOBAL .buttons a.button {
        background-color: rgba(255, 255, 255, 0.2);
        background-image: none !important;
        border-radius: 4px;
        color: #fff !important;
        height: 44px !important;
        line-height: 44px;
        margin: 10px 1%;
        padding: 0;
        width: 36% !important;
    }
    .navigation table td {
        display: block;
        margin: 5px;
    }
    .NAVIGATION .GLOBAL .buttons a.button:last-child {
        margin-top: 0;
        width: 75% !important;
    }
    .NAVIGATION .GLOBAL .buttons {
        text-align: center;
    }
    .flexslider {
        width: 100%;
    }
    .CONTENTS .marsonry {
        margin:10px  0px;
    }
    .CONTENTS {
        margin: 15px !important;
        padding-top: 55px !important;
    }
    .icon_eyecatch {
        /*width: 40px;*/
        height: 30px;
    }
    .FOOTER{
        margin:0;
    }
    .FOOTER .WEBTITLE {
        background-size: 270pxc 60px;
        width: 270px;
    }
    .FREE-TEXT {
        margin: 20px auto;
        width:auto;
    }
}


@media screen and (max-width: 736px) {
    .icon_eyecatch {
        /*width: 40px;*/
        height: 20px;
    }
}

/* ラベル */
.point-ribbon {
    z-index: 99999;
    position: absolute;
    background: #000000;
    font-size: 14px;
    /*color: #fff;*/
}
.point-ribbon:before {
    position: absolute;
    content: " ";
    height: 0;
    width: 0;
}
.point-ribbon:after {
    position: absolute;
    content: " ";
    height: 0;
    width: 0;
}
.point-ribbon-l {
    font-family: 'Luckiest Guy', cursive;
    top: .5em;
    left: -6px;
    height: 2em;
    line-height: 2.2;
    padding-left: 1em;
}
.point-ribbon-l:before {
    left: 0;
    top: 100%;
    border-top:6px solid #000000;
    border-left:6px solid transparent;
}
.point-ribbon-l:after {
    left: 100%;
    bottom: 0;
    border:1em solid #000000;
    border-right:0.5em solid transparent;
}
