body {
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 13px;
    line-height: 1.4em;
    min-width: 960px;
}
.headline {
    border-bottom: 1px dotted;
    border-top: 2px solid;
	font-weight:bold;
    display: block;
    font-size: 165%;
    height: 50px;
    letter-spacing: 0.1em;
    line-height: 50px;
    margin-bottom: 20px;
    margin-top: 40px;
	display:block;
}
.headline:first-child {
    margin-top: 0;
}
.subheadline {
    font-size: 150%;
	font-weight:bold;
    margin-bottom: 20px;
	display:block;
}
.heading{
	font-size:125%;
	font-weight:bold;
	margin-bottom:20px;
	display:block;
}

.buttons{
	overflow:hidden;
	text-align:center;
}
.button{
	display: inline-block;
	height:40px;
	line-height:40px;
	cursor:pointer;
}
.button:hover{
}
.navigation ul li a:hover span ,
.button:hover span{
	opacity:0.8;
}

.button.text{
	text-decoration:underline;
}
.button.rect {
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    border-radius: 2px;
    padding: 0 10px;
	text-align:center;
	background-color:#4A4A4A;
	color:#F6F6F6;
	border:1px solid #000;
}
.size-S {
    height: 30px;
    line-height: 30px;
}
.button.size-L{
	width:240px;
	height:50px;
	line-height:50px;
	font-size:115%;
}

.buttons.count-2{
	margin-top:40px;
}

.buttons.count-2 .button{
	margin:0 10px;
}
.buttons.count-2 .button.rect.size-L{
	width:170px;
}


.button.rect.key{
	background-color:#3593FF;
	color:#FFFFFF	;
}

.button.with-icon,
.button.all,
.button.text.categories{
	text-decoration:none!important;
}


.button.with-icon span {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    padding: 3px 0 3px 20px;
}
.button.with-icon.mypage span {
}
.button.with-icon.logout span {
}
.button.with-icon.login span {
}
.button.with-icon.cart span {
}

.navigation{
}
.navigation ul{
	overflow:hidden;
	letter-spacing:-0.3em;
}
.navigation ul li{
    display: inline-block;  
    *display: inline;  
    *zoom: 1;  
	letter-spacing:0em;
}
.navigation ul li a{
	display:block;
	height:40px;
	line-height:40px;
}

.navigation ul li:last-child a span{
	border-right:1px solid;
}
.navigation ul li a span{
	border-left:1px solid;
	padding:0 15px;
}


.WRAPPER {
     width: 100%;
     position: relative;
     height:auto !important; /*IE6対策*/
     height: 100%; /*IE6対策*/
     min-height: 100%;
}
.CONTAINER {
    height: 100%;
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
    padding: 0 10px;
	min-width:300px;
}

.HEADER {
    padding-bottom: 110px;
    z-index: 99999;
}
.HEADER.MIN .MAINTITLE {
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.HEADER.MIN .NAVIGATION {
    bottom: auto;
    padding-top: 73px;
    top: 0;
}

.HEADER.MIN .MAINTITLE .TITLE {
    float: left;
    padding: 0;
    top: 0;
    width: 250px;
}
.HEADER.MIN .MAINTITLE {
    background-color: #000;
    background-image: none;
    height: auto;
    overflow: hidden;
    padding: 10px 0;
}
.HEADER.MIN .BUYSCHEDULE {
	background-image:none;
    bottom: auto;
    float: right;
    padding: 0 20px;
    position: relative;
    text-align: right;
    width: auto;
}
.HEADER.MIN .BUYSCHEDULE .inner .text {
    font-size: 100%;
}
.HEADER.MIN .BUYSCHEDULE .inner .title {
    height: 45px;
    line-height: 45px;
}
.MAINTITLE{
}
.MAINTITLE .TITLE{
    margin: 0 auto;
    padding: 20px 0;
    width: 700px;
	z-index:1;
}
.MAINTITLE .TITLE img{
	width:100%;
}


.TOURTITLE {
}

.TOURTITLE .TITLE {
    margin: 0 auto;
    padding: 20px 0;
    width: 700px;
}
.TOURTITLE .TITLE img {
    width: 100%;
}

.TOURTITLE .CONTAINER .TITLE {
    margin: 0 auto;
    top: 0px;
    max-width: 450px;
}
.TOURTITLE .CONTAINER .TITLE h2 img {
    display: block;
    width: 100%;
}

.SHOPTITLE {
    background-color: #d0d0d0;
}

.SHOPTITLE .CONTAINER {
    padding: 20px;
}
.SHOPTITLE .TITLE img {
    display: block;
    width: 100%;
}
.SHOPTITLE .TITLE {
}
.SHOPTITLE .DESCRIPTION {
    color: #fff;
    font-size: 150%;
    text-align: center;
	font-weight:bold;
}


.BUYSCHEDULE {
    bottom: 0;
    color: #fff;
    padding: 100px 0 40px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.BUYSCHEDULE .inner .text {
    display: inline-block;
    font-size: 120%;
    font-weight: bold;
    line-height: 1.4em;
    text-align: left;
}
.BUYSCHEDULE .inner .title {
    border: 1px solid;
    display: inline-block;
    font-weight: bold;
    height: 55px;
    line-height: 55px;
    vertical-align: top;
    width: 120px;
	text-align:center;
}
.BUYSCHEDULE .inner {
}


.NAVIGATION.fixed{
	position:fixed;
	top:0;
	bottom:auto;
	z-index:9999;
}
.NAVIGATION {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.NAVIGATION .GLOBAL {
    background-color: #f1f1f1;
    float: left;
    padding: 10px 0;
    width: 100%;
}

.NAVIGATION .GLOBAL .buttons {
}
.NAVIGATION .GLOBAL .buttons .button {
    float: left;
	margin-right:10px;
}

.NAVIGATION .GLOBAL .buttons .button.rect {
    float: right;
    margin-right: 0;
}
.NAVIGATION .CATE {
    background-color: #fff;
    float: left;
    padding: 5px 0;
    width: 100%;
}
.NAVIGATION .CATE .CONTAINER {
    overflow: visible;
	height:40px
}
.NAVIGATION .CATE .buttons, 
.NAVIGATION .CATE .navigation{
	float:left;
}
.NAVIGATION .CATE .buttons .buttons .button{
}
.NAVIGATION .CATE .buttons .button span{
	border-left:1px solid;
	padding:0 15px;
}
.NAVIGATION .CATE .button.text.categories {
    display: none;
}

.CONTENTS {
    margin: 120px 0 0;
	min-height: 350px;
}
.CONTENTS .CONTAINER{
}

.CONTENTS .marsonry{
	margin:10px;
}
.box{
	width:300px;
}
.box.pickup{
	width:600px;
}

.box .inner{
	margin:5px;
	overflow:hidden;
}
.box .text {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
	z-index:9996
}
.box .text dl {
    padding: 30px 10px 10px;
	color:#fff;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.45))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#73000000',GradientType=0 ); /* IE6-9 */
}
.box .text dl dt {
}
.box .text dl dd {
	margin-top:10px;
    font-size: 120%;
    font-weight: bold;
}


.box .thumbnail{
	transition: all 0.3s ease-in-out 0s !important;
}
 .box .thumbnail img {
    display: block;
    position: absolute;
    width: 100%;
}

 .box:hover .alpha{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.box:hover .thumbnail {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
}

.box .alpha {
    background-color: rgba(0, 0, 0, 0.0);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 9999;
	transition: all 0.3s ease-in-out 0s !important;
}


.SPECIAL {
    margin: 15px;
}

.SPECIAL img {
    width: 100%;
}


.CONTENTS #NEXT.buttons {
    margin: 20px 0;
    text-align: center;
}
.CONTENTS #NEXT.buttons #loading {
    height: auto;
    margin: 0 auto;
    width: 24px;
}
.FOOTER {
    margin-top: 40px;
    text-align: center;
    width: 100%;
}
.FOOTER.hidden{
    bottom: -400px;
}
.FOOTER .LINKS {
	background-color:#a0a0a0;
	color:#FFFFFF	;
}
.FOOTER .CREDIT {
    padding: 20px 0;
	background-color:#797979;
	color:#FFFFFF	;
}
.FOOTERMENU.buttons {
	width:60px;
	height:60px;
	background-color:#8C7777;
}

.INFORMATION {
    background-color: #f5f5f5;
    font-size: 11px;
    padding: 40px;
    text-align: left;
}
.INFORMATION .inner {
    margin: 0 auto;
    width: 70%;
}
.INFORMATION .inner {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    padding: 20px;
}
.INFORMATION .SCHEDULE {
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
    padding: 0 0 20px;
}
.INFORMATION .SCHEDULE .head {
    background-color: #000;
    color: #fff;
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}
.INFORMATION .SCHEDULE .body {
    font-size: 120%;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
}


.INFORMATION .SCHEDULE .body br{
	display:none;
}

.INFORMATION .SCHEDULE .body p {
    margin-bottom: 10px;
}
.INFORMATION .SCHEDULE .body p:last-child {
    margin-bottom: 0;
}


.INFORMATION .NOTICE {
    margin-top: 20px;
}



.description.notice {
    border: 1px solid;
    color: #c1272d;
    margin-top: 20px;
    padding: 10px;
}

.product-photo {
    float: left;
    margin-right: 40px;
    width: 60%;
    z-index: 1;
}
.product-texts .list .name {
    font-size: 30px;
    line-height: 1.1em;
    margin-bottom: 20px;
}
.product-texts .list .code {
    font-weight: bold;
}
.product-texts .list .code span {
    font-weight: normal;
    margin-left: 10px;
}
.product-texts .list .price {
    font-weight: bold;
}
.product-texts .list .price span {
    font-weight: normal;
    margin-left: 10px;
}

.product-social div {
    float: left;
}
.product-social {
    margin-bottom: 20px;
    overflow: hidden;
}
.product-social .twitter {
    width: 100px;
}
.product-social .facebook {
    width: 160px;
}
.product-texts .list {
    margin-bottom: 20px;
}
.product-texts form .buttons {
    margin: 40px 0;
}
.product-texts .freebox{
    border: 1px solid #3f3f3f;
    padding: 20px;
}

.cart-list th br{
	display:none;
}

.cart-list th.item {
    width: 620px;
}
.cart-list th.price {
    width: 100px;
}
.cart-list th.count {
    width: 60px;
}
.cart-list th.total {
    width: 100px;
}

.cart-list th.delete {
    width: 70px;
}
.cart-list table {
    text-align: center;
}
.cart-list > table {
    border: 1px solid #e0e0e0;
	width:100%;
}
.cart-list > table table td {
    padding: 10px;
}
.cart-list > table > tbody > tr {
    border-bottom: 1px solid #e0e0e0;
}
.cart-list .fixed {
    height: 40px;
}
.cart-list .description {
    margin: 20px 0 40px;
}
.cart-list table > thead {
    height: 40px;
	background-color:#f0f0f0;
}
.cart-list .countcontllor {
    text-align: center;
}
.cart-list .countcontllor span {
    display: block;
    margin: 5px 0;
}

.cart-list .countcontllor a {
    border: 1px solid;
    border-radius: 17px;
    display: inline-block;
    font-weight: bold;
    height: 15px;
    line-height: 15px;
    width: 15px;
}
.cart-list .thumbnail {
    width: 50px;
}


.cart-list > table > tbody > tr.totals {
    border-bottom: 1px dotted !important;
    height: 30px;
}
.cart-list > table > tbody > tr.totals:last-child {
    border: medium none !important;
    font-size: 120%;
    font-weight: bold;
    height: 60px;
}

.form-group {
    clear: both;
    margin: 40px auto;
    width: 70%;
}
.form-group .description{
	margin-top:10px;
}

.form-container {
    margin-left: 170px;
}
.form-group label {
    float: left;
    height: 40px;
    line-height: 40px;
    width: 150px;
	font-weight:bold;
}

.form-group input[type="text"], .form-group input[type="password"], .form-group textarea {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 12px;
    width: 90%;
}

.form-container .inner {
    background-color: #fbfbfb;
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 2px 2px 2px rgba(0, 0, 0, 0.2) inset;
}
.form-group.count-2 .form-container {
    letter-spacing: -0.4em;
}
.form-group.count-2 .form-container .inner {
    width: 49%;
	display:inline-block;
	margin-right:2%;
	letter-spacing:0;
}
.form-group.count-2 .form-container .inner:last-child {
    margin: 0;
}

.form-group.type-postal .form-container .inner {
    margin-right: 175px;
}
.form-group.type-postal .form-container .buttons {
    float: right;
}
.form-group.count-3 .form-container {
    letter-spacing: -0.4em;
}
.form-group.count-3 .form-container .inner {
    width: 32%;
	display:inline-block;
	margin-right:2%;
	letter-spacing:0;
}
.form-group.count-3 .form-container .inner:last-child {
    margin: 0;
}


.form-group label .caption {
    color: red;
    margin-left: 5px;
}

.form-container select {
    margin: 12px auto;
}
.form-container .radio {
    height: 40px;
    vertical-align: middle;
}
.form-container .radio td {
    padding-right: 10px;
}
.form-container .select {
    height: 40px;
    vertical-align: middle;
}
.login-panel {
    border: 1px solid;
    border-radius: 6px;
    margin: 40px auto;
    padding: 20px;
    width: 40%;
}
.login-panel .form-group {
    margin: 20px auto;
    width: 100%;
}
.login-panel .form-group label {
    text-align: left;
    width: 100px;
}
.login-panel .form-group .form-container {
    margin-left: 100px;
}
.login-panel .buttons {
    margin-top: 40px;
}
.login-panel .button.text {
    display: block;
    margin-top: 0;
}
.login-panel .panel-body .description {
    border-bottom: 1px dotted;
    font-size: 110%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.payments {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin: 0 auto 10px;
}
.payments .radio {
    padding: 20px;
	font-size:110%;
	font-weight:bold;
	cursor:pointer;
}
.payments .form-group {
    border-bottom: 1px dotted #e0e0e0;
    margin: 0;
    padding: 20px 0;
    width: 100%;
}
.payments .form-group:last-child {
    border-bottom: medium none;
    padding-bottom: 0;
}
.payments .description {
    margin-top: 10px;
}
.payments .forms {
    display: none;
    padding: 0 20px 20px;
}
.payments .radio input {
    margin-right: 10px;
}
.payments .inner.secucord{
	width:150px;
}
.payments .fixed-data {
    margin: 10px 0;
}

.confirm-panel {
    border: 1px solid;
    border-radius: 6px;
    margin: 40px auto;
    padding: 20px;
    width: 70%;
}
.confirm-panel .description {
    margin-bottom: 20px;
    text-align: center;
}
.confirm-panel .buttons button {
	background:none;
    cursor: pointer;
    height: 100%;
    width: 100%;
}


.buttons.change {
    margin: 20px 0 40px;
    text-align: right;
}
.fixed-data td{
    border: 1px solid #e0e0e0;
}


.fixed-data tr .head {
    width: 20%;
    background-color: #f0f0f0;
}
.fixed-data tr .body {
    width: 80%;
}
.fixed-data table {
    width: 100%;
}
.fixed-data tr td {
    padding: 20px;
}
.fixed-data tr:last-child {
    border-bottom: 1px solid;
}


.totals {
}
.totals li:first-child {
    border-top: medium none;
}
.totals li {
    border-top: 1px dotted #e0e0e0;
    text-align: right;
}
.totals li dl {
    height: 40px;
    line-height: 40px;
}
.totals li dd {
    display: inline-block;
    font-weight: bold;
}
.totals li dt {
    display: inline-block;
    margin-right: 10px;
}
.totals li.all {
}
.totals li.all dd {
    font-size: 130%;
}

.panel {
    border: 1px solid;
    border-radius: 6px;
    margin: 40px auto;
    padding: 40px;
    width: 50%;
}
.panel .subheadline {
    text-align: center;
}
.panel .description {
    text-align: center;
}
.panel .form-group {
    margin: 20px auto;
    width: 100%;
}
.panel .form-group label {
    width: 100px;
}
.panel .form-group .form-container {
    margin-left: 100px;
}
.panel .form-group .description{
	text-align:left;
}
.panel .buttons {
    margin-top: 20px;
}

.panel.complete .heading{
	text-align:center;
}
.panel.complete .heading span {
    display: block;
    margin-top: 10px;
}
.panel.complete .description{
	text-align:left;
}

.panel.complete .notice{
	padding:10px;
	border:1px solid;
	margin-top:20px;
}
.panel.complete .notice strong{
	display:block;
	margin-bottom:10px;
}

.panel.forget label{
	width:140px;
}
.panel.forget .form-group .form-container{
	margin-left: 140px;
}

.buy-list table {
    width: 100%;
}
.buy-list th, .buy-list td {
    border: 1px solid #e0e0e0;
}
.buy-list td {
    padding: 20px;
}
.buy-list th {
    background-color: #f0f0f0;
    padding: 10px;
}
.buy-list tr {
}


.postage tr {
    border: 1px solid #e0e0e0;
}
.postage table {
    margin: 20px auto;
    width: 70%;
}
.postage td {
    padding: 10px;
	text-align:center;
}

.postage td.head {
    background-color: #f6f6f6;
    width: 20%;
}


.info {
}
.info .fixed-data {
    margin: 20px 0;
}
.info .heading {
    margin-top: 40px;
}

.faq-container {
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 20px;
}
.faq-container .head {
    font-size: 120%;
    height: 20px;
    line-height: 20px;
}
.faq-container .body {
    border-top: 1px solid #e0e0e0;
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}
.faq-container .head {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 16px auto;
    font-size: 120%;
    height: 20px;
    line-height: 20px;
}

.faq-container.active .head{
}

@media screen and (max-width: 1024px) {
body{
	min-width:320px;
}

.buttons.count-2 .button {
    margin: 5px 10px;
}
.navigation ul{
	overflow:hidden;
	letter-spacing:0em;
	text-align:left;
}
.navigation ul li{
	display:block;
	letter-spacing:0em;
	border-bottom:1px solid;
}
.navigation ul li a{
	display:block;
	height:40px;
	line-height:40px;
}
.navigation ul li:last-child,
.navigation ul li:last-child a span{
	border:none;
}
.navigation ul li a span{
	border-left:none;
	padding:0px 10px;
}

.product-photo {
    float: left;
    margin: 0 0 40px;
    width: 100%;
}

.cart-list th br{
	display:block;
}
.cart-list th.item {
    width: 170px;
}
.cart-list th.price {
    width: 120px;
}
.cart-list th.count {
    width: 50px;
}
.cart-list th.total {
    width: 180px;
}
.cart-list th.delete {
    width: 100px;
}
.cart-list .countcontllor a {
    margin: 5px 0;
}
.cart-list .thumbnail {
    width: 30px;
}
.cart-list > table table td {
    padding: 10px 5px;
}


.login-panel {
    width: 70%;
}

.login-panel .form-group {
    margin: 10px auto;
    width: 100%;
}



.form-group {
    margin: 20px 0;
    width: 100%;
}
.form-group label {
    float: none;
}
.form-container {
    margin: 0 !important;
}

.panel {
    margin: 10px auto;
    padding: 20px;
    width: auto;
}

.HEADER.MIN .MAINTITLE {
    height: auto !important;
}
.HEADER.MIN .MAINTITLE .TITLE {
    float: none;
}

.MAINTITLE .TITLE {
    max-width: 400px;
    width: 100%;
}
.MAINTITLE {
    background-size: cover;
    height: 250px !important;
}
.CONTENTS {
    margin: 85px 0 10px 0;
    padding: 0px!important;
}
.NAVIGATION .CATE .navigation {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: none;
    left: 0;
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 1;
}

.NAVIGATION .CATE .navigation ul li a {
    display: block;
    height: 44px;
    line-height: 44px;
}
.NAVIGATION .CATE .button.text.categories{
	display:block;
}
.NAVIGATION .CATE .button.text.categories span {
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 10px auto;
    border-right: 1px solid;
    padding-right: 30px;
}
.BUYSCHEDULE {
	display:none;

}
.SHOPSCHEDULE .title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #8c8888 -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px 0;
    float: none;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 7px;
    text-align: center;
}
.SHOPSCHEDULE .text {
    font-size: 11px;
    padding: 13px 37px 3px;
	text-align: center;
}
.SHOPTITLE .shoptitle-br {
    display: block;
}
.SHOPTITLE .DESCRIPTION {
    font-size: 110%;
    line-height: 1.4em;
}
.SHOPTITLE .DESCRIPTION br{
	display:block;
}
.FOOTER .CONTAINER{
	margin:0;
	padding:0;
}

.INFORMATION .inner {
    padding: 20px;
    width: auto;
}
.INFORMATION {
    padding: 20px 10px;
}
.INFORMATION .SCHEDULE .head {
    display: block;
    float: none;
    margin-bottom: 20px;
    width: 100%;
}
.INFORMATION .SCHEDULE .body {
    width: auto;
}

.INFORMATION .SCHEDULE .body br{
	display:block;
}

.INFORMATION .SCHEDULE .body p {
    margin-bottom: 20px;
}

.CREDIT .CONTAINER > p {
    font-size: 10px;
}
.FOOTER {
    position:relative;
}

}
