@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700);
body {
    background-color: #000;
    font-size: 12px;
    font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;;
    /*font-family: serif;*/
    color:#fff;
}
.NAVIGATION .CATE .button.text.categories span {
    background-image: url("../../img/honganji/UI_icon_menuArrow.png");
}
.button.with-icon.cart > span {
    background-image: url("../../img/honganji/UI_icon_cart.png");
}
.button.with-icon.signup > span {
    background-image: url("../../img/honganji/UI_icon_signup.png");
}
.button.with-icon.logout > span {
    background-image: url("../../img/honganji/UI_icon_logout.png");
}
.button.with-icon.mypage > span {
    background-image: url("../../img/honganji/UI_icon_account.png");
}
.button.with-icon.login span {
    background-image: url("../../img/honganji/UI_icon_login.png");
}
.faq-container .head {
    background-image: url("../../img/honganji/UI_icon_open.png");
}
.faq-container.active .head {
    background-image: url("../../img/honganji/UI_icon_close.png");
}
.button.with-icon span {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    font-size: 14px;
    padding: 8px 0 3px 23px;
}


.HEADER.PRE .NAVIGATION .CATE {
    display: none !important;
}
.HEADER.PRE {
    height: 150px;
}

.MAINTITLE {
    height: 100%;
    margin: 0 auto;
    max-width: 960px;
    min-width: 300px;
    overflow: hidden;
    padding: 0 10px;
}
.MAINTITLE .TITLE {
    float: left;
    width: 400px;
	z-index: 2;
}
.BUYSCHEDULE {
    background-color: transparent;
    background-image: url("../../img/honganji/shoptitle_bg.png");
    background-position: center bottom;
    padding-top: 160px;
}

.HEADER {
    background-color: #000;
    height: 190px;
    left: 0;
    padding-bottom: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.NAVIGATION .GLOBAL {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding: 0;
    position: absolute;
    z-index: 1;
}
.NAVIGATION .CATE {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.NAVIGATION .CATE .navigation ul li a {
    background-color: #fff;
    border-radius: 6px;
    color: #000;
}
.NAVIGATION .CATE .navigation ul li {
    margin-right: 10px;
}

.NAVIGATION .CATE a span {
    background-color: #fff;
    border: medium none !important;
    color: #000;
    display: block;
    height: 35px;
    line-height: 35px;
    margin: 0 2px;
    text-align: center;
}
.NAVIGATION .GLOBAL .buttons a.button.own {
	background-image: url("../../img/honganji/UI_bg_own_button.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100px 100%;
    color: #fff;
    font-family: "Lucida Grande","segoe UI","ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN",Meiryo,Arial,sans-serif;
    height: 69px;
    padding-top: 20px;
    text-align: center;
    width: 100px;}



.NAVIGATION .GLOBAL .buttons a.button.own.regist{
    font-weight:bold;
}
.oac-cart,
.oac-menu {
    display:none;
}

.oac-cart {
    height: 40px;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 40px;
}
.oac-cart img {
    height: 100%;
    width: 100%;
}

.oac-menu {
    background-color: #3a3a3a;
    border-radius: 4px;
    height: 40px;
    left: 10px;
    position: absolute;
    top: 15px;
    width: 50px;
}
.oac-menu img {
    height: auto;
    margin: 10px;
    width: 30px;
}
.MAINSLIDER {
	background-color: #501f00;
    margin-bottom: 40px;
    overflow: hidden;
}
.MAINSLIDER img {
	margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.flexslider {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: medium none;
    border-radius: 0;
    margin: 0 0 40px 0;
    overflow: hidden;
    width: 1000px;
    margin:0 auto;
}
.navigation table {
    table-layout: fixed;
    width: 100%;
}
.CONTENTS {
    margin-top: 40px;
}
.CONTENTS .CONTAINER {
    border-radius: 10px;
    padding: 40px;
}
.CONTENTS .marsonry .box .text dl {
    background: rgba(0, 0, 0, 0)!important;
}
.CONTENTS .marsonry .box .text dt {
    color: #FFF;
}
.CONTENTS .marsonry .box .text dd {
    color: #fff;
    font-weight: bold;
    margin-top: 5px;
}


.box {
    width: 300px;
    height:400px;
    position:relative;
    opacity:0;
}
.box .inner {
    background-color: #a88642;
    height: 400px;
    width: 300px;
}
.box .thumbnail {
    height: 100%;
}
.box:hover .thumbnail{
    opacity: 0.8;
    -webkit-transform: scale(1,1);
       -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
         -o-transform: scale(1,1);
            transform: scale(1,1);
}
.icon_eyecatch {
    display: block;
    left: 5px;
    position: absolute;
    top: 20px;
    height: 30px;
    /*width: 70px;*/
    z-index: 9999;
}

.NAVIGATION .GLOBAL .buttons .button.rect {
    background-color: #000000;
}



.cart-list table > thead {
    background-color: #404040;
}

.headline {
    border-bottom: medium none;
    border-top: medium none;
	overflow: hidden;
}
.subheadline {
    color: #000000;
}
.buttons .button.rect.key {
    background: #e0e0e0 none repeat scroll 0 0;
    border: 1px solid #e0e0e0;
    color: #000;
}
.buttons .button.rect.key:hover {
    background: #f0f0f0 none repeat scroll 0 0;
    border: 1px solid #f0f0f0;
}
.product-texts .list .name {
}
.FOOTER {
    background-color:#a88642;
}
.FOOTER .navigation ul li a {
}
/*.FOOTER .WEBTITLE {
    background-image: url("../../img/honganji/UI_bg_footertitle.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 60px;
    color:#ffffff;
    display: block;
    font-size: 16px;
    height: 60px;
    line-height: 40px;
    margin: 0 auto 0 auto;
    width: 310px;
    top:1px;
}*/
.FOOTER .LINKS {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.FOOTER .CREDIT {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.INFORMATION {
}
.INFORMATION .SCHEDULE .head {
    background-color: #e50011;
}
input, textarea {
    color: #000;
}
.fixed-data tr .head {
    background-color:#4f4f4f;
}
.faq-container {
    background-color: #404040;
    border: medium none;
}
.button.rect {
    background: #404040 none repeat scroll 0 0;
}
.panel {
}
.panel .subheadline {
    border-bottom: 1px solid;
    color: #fff;
    height: 40px;
    line-height: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.NAVIGATION {
    bottom: auto;
    height: 190px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    color:#FFFFFF;
}
.NAVIGATION .GLOBAL .buttons a.button {
    float: none !important;
}
.NAVIGATION .GLOBAL .buttons {
    text-align: right;
}

body.PRE{
    background-color:#000000;
}
.PRE .HEADER{
    height:150px;
}
.PRE .FOOTER{
    background-color:yellow;
    color:#000;
}
.PRE .FOOTER .LINKS,
.PRE .FOOTER .CREDIT{
    color:#000000;
}
.PRE .oac-menu {
    left: auto;
    right: 10px;
}

.FREE-TEXT {
    color: #fff;
    margin: 20px auto !important;
    padding: 20px;
    width: 885px;
    text-align: center;
	border: 2px solid #fff;
}
.FREE-TEXT h3 {
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;;
    /*font-family: "Cinzel",serif;*/
    font-size: 24px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.FREE-TEXT h4 {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
.FREE-TEXT h4 br{
    display:none;
}
.FREE-TEXT small{
    font-size: 10px;
}
.FREE-TEXT.FOOT {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #fff;
}
.FREE-TEXT.FOOT h3{
    border-bottom: 1px solid #fff;
}
.FREE-TEXT.FOOT strong {
    border-bottom: 1px solid #505050;
    display: block;
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.NAVIGATION .CATE {
}
.NAVIGATION .CATE a span {
    background-color: #a88642;
    color: #fff;
    font-weight: bold;
}
.FREE-TEXT {
}


.NAVIGATION .CATE .CONTAINER {
    height: 37px;
    overflow: visible;
}
.FREE-TEXT.HEAD > img {
    width: 100%;
}
.FREE-TEXT.HEAD.BUNNER {
    border: medium none;
    padding: 0;
    width: 930px;
}


.FOOTER .WEBTITLE {
	background-image: url("../../img/honganji/UI_footer_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #ffffff;
    display: block;
    font-family: "Candal",sans-serif;
    font-size: 30px;
    line-height: 35px;
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;
}
.FOOTER .WEBTITLE img {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
}
.headline > img {
    width: 100%;
}
.SP {
    display: none;
}
.MAINSLIDER img.topbanner_top ,.MAINSLIDER img.topbanner_bottom {
    max-width: none;
}


@media screen and (max-width: 1024px) {
    .NAVIGATION .CATE .button.text.categories span {
        background-image: url("../../img/honganji/sp/UI_icon_menuArrow.png");
    }
    .button.with-icon.cart > span {
        background-image: url("../../img/honganji/sp/UI_icon_cart.png");
    }
    .button.with-icon.signup > span {
        background-image: url("../../img/honganji/sp/UI_icon_signup.png");
    }
    .button.with-icon.logout > span {
        background-image: url("../../img/honganji/sp/UI_icon_logout.png");
    }
    .button.with-icon.mypage > span {
        background-image: url("../../img/honganji/sp/UI_icon_account.png");
    }
    .button.with-icon.login span {
        background-image: url("../../img/honganji/sp/UI_icon_login.png");
    }
    .faq-container .head {
        background-image: url("../../img/honganji/sp/UI_icon_open.png");
    }
    .faq-container.active .head {
        background-image: url("../../img/honganji/sp/UI_icon_close.png");
    }
    .navigation ul li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
    .CONTENTS .CONTAINER {
        margin-top: 20px;
        min-width: auto;
        padding: 20px 0 !important;
    }
    .HEADER {
        height: 70px!important;
        position: fixed;
        width: 100%;
    }
.MAINTITLE .TITLE {
    float: none;
    padding: 5px 0;
    top: 0;
    width: 190px;
}
    .MAINTITLE {
        height: auto !important;
        top: 0;
        width: auto;
    }
    .oac-cart,
    .oac-menu {
        display:block;
    }

    .navigation {
    }
    .MAINSLIDER {
        margin-bottom: 20px;
        padding: 0;
        background-size: cover;
        height:auto;
    }
    .headline {
        margin:0px!important;
    }
    .NAVIGATION .CATE .navigation {
        background-color: rgba(0, 0, 0, 0);
        left: 0;
        position: relative;
        top: 0;
        display:block;
    }
    .NAVIGATION .CATE .CONTAINER {
        height: auto;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }
    .NAVIGATION .CATE {
        padding: 0;
        position: relative;
    }
    .NAVIGATION .CATE .navigation ul li a {
        background:none;
        border-radius: 0;
    }
    .NAVIGATION .CATE .navigation ul li {
        margin-right: 0px;
    }

    .NAVIGATION .GLOBAL {
        border-bottom: 1px solid #5d5d5d;
        float: none;
        overflow: hidden;
        padding: 0;
        position: relative;
    }
    .NAVIGATION .GLOBAL .CONTAINER {
        margin: 0;
        padding: 0;
    }
    .NAVIGATION .CATE a span {
        border-left: medium none;
    }
    .NAVIGATION {
        background-color: rgba(0, 0, 0, 0.9);
        height: auto;
        position: absolute;
        top: 70px;
        display:none;
    }
    .NAVIGATION .GLOBAL .buttons a.button {
        background-color: #a88642;
        background-image: none !important;
        border-radius: 4px;
        color: #fff !important;
        height: 44px !important;
        line-height: 44px;
        margin: 10px 1%;
        padding: 0;
        width: 36% !important;
    }
    .navigation table td {
        display: block;
        margin: 5px;
    }
    /*.NAVIGATION .GLOBAL .buttons a.button:last-child {*/
        /*margin-top: 0;*/
        /*width: 75% !important;*/
    /*}*/
    .NAVIGATION .GLOBAL .buttons {
        text-align: center;
    }
    .flexslider {
        width: 100%;
    }
    .CONTENTS .marsonry {
        margin:10px  0px;
    }
    .CONTENTS {
        margin: 10px !important;
        padding-top: 40px !important;
    }
    .icon_eyecatch {
        /*width: 40px;*/
        height: 30px;
    }
    .FOOTER{
        margin:0;
    }
.FOOTER {
    background-size: auto 100px;
}
    .FOOTER .WEBTITLE {
    }
    .FREE-TEXT {
        margin: 20px auto;
        width:auto;
    }
.FREE-TEXT.HEAD.BUNNER {
    width: 100%;
}
.FREE-TEXT h4 {
    font-size: 16px;
    line-height: 1.4em;
}
.FREE-TEXT h2,h3,h4,h5,p {
    text-align: center;
}
.FREE-TEXT {
    text-align: left;
}
.FREE-TEXT h4 br{
    display:block;
}
.FREE-TEXT h3 {
    font-size: 17px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.FREE-TEXT h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4em;
    margin-bottom: 5px;
}
.NAVIGATION .GLOBAL .buttons a.button.own {
    padding-top: 0;
}
.NAVIGATION {
    opacity: 0.95;
}
}


@media screen and (max-width: 736px) {
    .icon_eyecatch {
        /*width: 40px;*/
        height: 20px;
    }
	.SP {
    display: block;
}
	.PC {
    display: none;
}

}

/* ラベル */
.point-ribbon {
    z-index: 99999;
    position: absolute;
    background: #000000;
    font-size: 14px;
    /*color: #fff;*/
}
.point-ribbon:before {
    position: absolute;
    content: " ";
    height: 0;
    width: 0;
}
.point-ribbon:after {
    position: absolute;
    content: " ";
    height: 0;
    width: 0;
}
.point-ribbon-l {
    font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;;
    /*font-family: 'Luckiest Guy', cursive;*/
    top: .5em;
    left: -6px;
    height: 2em;
    line-height: 2.2;
    padding-left: 1em;
}
.point-ribbon-l:before {
    left: 0;
    top: 100%;
    border-top:6px solid #000000;
    border-left:6px solid transparent;
}
.point-ribbon-l:after {
    left: 100%;
    bottom: 0;
    border:1em solid #000000;
    border-right:0.5em solid transparent;
}
